@import "variables";

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }

  &.columns {
    flex-direction: row;

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  &.equal {
    flex-basis: 0;
  }
}


.box {
  flex-basis: auto;
  flex-grow: 1;

  &.equal {
    flex-basis: 0;
  }

  @for $i from 1 through 12 {
    &.grow-#{$i} {
      flex-grow: $i;
    }
  }
}