.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }

  &.columns {
    flex-direction: row;

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  &.grow {
    flex-grow: 1;
    @for $i from 2 through 12 {
      &.grow-#{$i} {
        flex-grow: $i;
      }
    }
  }

  &.place-start {
    justify-content: flex-start;
  }

  &.place-end {
    justify-content: flex-end;
  }

  &.place-center {
    justify-content: center;
  }

  &.place-spread {
    justify-content: space-between;
  }

  &.place-equal {
    justify-content: space-around;
  }

  &.align-start {
    align-content: flex-start;
  }

  &.align-end {
    align-content: flex-end;
  }

  &.align-center {
    align-content: center;
  }

  &.align-baseline {
    align-content: center;
  }

  &.stretch {
    align-content: stretch;
  }

  @media screen and (min-device-width: 768px) {
    &.t-reverse {
      flex-direction: column-reverse;
    }

    &.t-columns {
      flex-direction: row;

      &.t-reverse {
        flex-direction: row-reverse;
      }
    }

    &.t-grow {
      flex-grow: 1;
      @for $i from 2 through 12 {
        &.t-grow-#{$i} {
          flex-grow: $i;
        }
      }
    }

    &.t-place-start {
      justify-content: flex-start;
    }

    &.t-place-end {
      justify-content: flex-end;
    }

    &.t-place-center {
      justify-content: center;
    }

    &.t-place-spread {
      justify-content: space-between;
    }

    &.t-place-equal {
      justify-content: space-around;
    }

    &.t-align-start {
      align-content: flex-start;
    }

    &.t-align-end {
      align-content: flex-end;
    }

    &.t-align-center {
      align-content: center;
    }

    &.t-align-baseline {
      align-content: center;
    }

    &.t-stretch {
      align-content: stretch;
    }
  }

  @media screen and (min-device-width: 1200px) {
    &.d-reverse {
      flex-direction: column-reverse;
    }

    &.d-columns {
      flex-direction: row;

      &.d-reverse {
        flex-direction: row-reverse;
      }
    }

    &.d-grow {
      flex-grow: 1;
      @for $i from 2 through 12 {
        &.d-grow-#{$i} {
          flex-grow: $i;
        }
      }
    }

    &.d-place-start {
      justify-content: flex-start;
    }

    &.d-place-end {
      justify-content: flex-end;
    }

    &.d-place-center {
      justify-content: center;
    }

    &.d-place-spread {
      justify-content: space-between;
    }

    &.d-place-equal {
      justify-content: space-around;
    }

    &.d-align-start {
      align-content: flex-start;
    }

    &.d-align-end {
      align-content: flex-end;
    }

    &.d-align-center {
      align-content: center;
    }

    &.d-align-baseline {
      align-content: center;
    }

    &.d-stretch {
      align-content: stretch;
    }
  }
}


.box {
  flex-basis: inherit;
  flex-grow: inherit;

  &.equal {
    flex-basis: 0;
  }

  &.grow {
    flex-grow: 1;
    @for $i from 2 through 12 {
      &.grow-#{$i} {
        flex-grow: $i;
      }
    }
  }

  &.align-start {
    align-self: flex-start;
  }

  &.align-end {
    align-self: flex-end;
  }

  &.align-center {
    align-self: center;
  }

  &.align-baseline {
    align-self: center;
  }

  &.stretch {
    align-self: stretch;
  }

  @media screen and (min-device-width: 768px) {
    &.t-equal {
      flex-basis: 0;
    }

    &.t-grow {
      flex-grow: 1;
      @for $i from 2 through 12 {
        &.t-grow-#{$i} {
          flex-grow: $i;
        }
      }
    }

    &.t-align-start {
      align-self: flex-start;
    }

    &.t-align-end {
      align-self: flex-end;
    }

    &.t-align-center {
      align-self: center;
    }

    &.t-align-baseline {
      align-self: center;
    }

    &.t-stretch {
      align-self: stretch;
    }
  }

  @media screen and (min-device-width: 1200px) {
    &.d-equal {
      flex-basis: 0;
    }

    &.d-grow {
      flex-grow: 1;
      @for $i from 2 through 12 {
        &.d-grow-#{$i} {
          flex-grow: $i;
        }
      }
    }

    &.d-align-start {
      align-self: flex-start;
    }

    &.d-align-end {
      align-self: flex-end;
    }

    &.d-align-center {
      align-self: center;
    }

    &.d-align-baseline {
      align-self: center;
    }

    &.d-stretch {
      align-self: stretch;
    }
  }
}