@import "variables";

.container {
  display: flex;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.vertical {
    flex-direction: column;

    &.reverse {
      flex-direction: column-reverse;
    }
  }
}


.box {
  flex-basis: 0;

  &.flexible {
    flex-basis: auto;
  }

  &.grow {
    flex-grow: 1;
  }
  @for $i from 1 through 12 {
    &.grow-#{$i} {
      flex-grow: $i;
    }
    &.shrink-#{$i} {
      flex-shring: $i;
    }
  }
}