@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  .container.reverse {
    flex-direction: column-reverse; }
  .container.columns {
    flex-direction: row; }
    .container.columns.reverse {
      flex-direction: row-reverse; }
  .container.grow {
    flex-grow: 1; }
    .container.grow.grow-2 {
      flex-grow: 2; }
    .container.grow.grow-3 {
      flex-grow: 3; }
    .container.grow.grow-4 {
      flex-grow: 4; }
    .container.grow.grow-5 {
      flex-grow: 5; }
    .container.grow.grow-6 {
      flex-grow: 6; }
    .container.grow.grow-7 {
      flex-grow: 7; }
    .container.grow.grow-8 {
      flex-grow: 8; }
    .container.grow.grow-9 {
      flex-grow: 9; }
    .container.grow.grow-10 {
      flex-grow: 10; }
    .container.grow.grow-11 {
      flex-grow: 11; }
    .container.grow.grow-12 {
      flex-grow: 12; }
  .container.place-start {
    justify-content: flex-start; }
  .container.place-end {
    justify-content: flex-end; }
  .container.place-center {
    justify-content: center; }
  .container.place-spread {
    justify-content: space-between; }
  .container.place-equal {
    justify-content: space-around; }
  .container.align-start {
    align-content: flex-start; }
  .container.align-end {
    align-content: flex-end; }
  .container.align-center {
    align-content: center; }
  .container.align-baseline {
    align-content: center; }
  .container.stretch {
    align-content: stretch; }

.box {
  flex-basis: inherit;
  flex-grow: inherit; }
  .box.equal {
    flex-basis: 0; }
  .box.grow {
    flex-grow: 1; }
    .box.grow.grow-2 {
      flex-grow: 2; }
    .box.grow.grow-3 {
      flex-grow: 3; }
    .box.grow.grow-4 {
      flex-grow: 4; }
    .box.grow.grow-5 {
      flex-grow: 5; }
    .box.grow.grow-6 {
      flex-grow: 6; }
    .box.grow.grow-7 {
      flex-grow: 7; }
    .box.grow.grow-8 {
      flex-grow: 8; }
    .box.grow.grow-9 {
      flex-grow: 9; }
    .box.grow.grow-10 {
      flex-grow: 10; }
    .box.grow.grow-11 {
      flex-grow: 11; }
    .box.grow.grow-12 {
      flex-grow: 12; }
  .box.align-start {
    align-self: flex-start; }
  .box.align-end {
    align-self: flex-end; }
  .box.align-center {
    align-self: center; }
  .box.align-baseline {
    align-self: center; }
  .box.stretch {
    align-self: stretch; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222222;
  margin: 0; }
